@page "/ads/index"
@model RSOAdMicroservice.Pages.IndexUIModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Stran z oglasi";
    ViewBag.Header = "Oglasi";
}


<div style="padding: 20pt 70pt 0 70pt;">
    
    <h1 style="color: white; margin-bottom: 20pt;">@ViewBag.Header</h1>

    <button class="btn-primary btn">
        <a href="/ads/create" style="color: white; text-decoration: none;">Ustvari oglas</a>
    </button>
    <div id="adsContainer"></div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/ads/api/',
            method: 'GET',
            success: function (ads) {
                console.log(ads);
                var adsContainer = $('#adsContainer');

                ads.forEach(function (ad) {
                    var adElement = `
                                <div style="background-color: #fff;
                                        border-radius: 5px;
                                        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
                                        margin: 15px 0;
                                        padding: 15px;
                                        position: relative;">
                                    <h3><a href="/ads/show/${ad.id}" style="text-decoration: none; color:black;">${ad.thing}</a></h3>
                                    <p style="margin: 0;">Cena: ${ad.price}&euro;</p>
                                    <p style="margin: 0;">Kategorija: ${ad.category}</p>
                                    <p>Objavljeno: ${ad.postTime}</p>
                                </div>
                            `;
                    adsContainer.append(adElement);
                });
            },
            error: function () {
                var errorElement = $('<div>').text('Failed to fetch ads.');
                adsContainer.append(errorElement);
            }
        });
    });
</script>